<div class="contentBoxFirst">
  <h1>Welcome!</h1>
  <h4>Who is this guy?</h4>
  <p class="plainText">
    My name is Harry McGuire. I am a digital professional, focusing mostly on
    digital strategy and product management. I'm currently a Product Owner for
    McKinsey.org, managing two platforms, the Ops Platform, looking to transform
    the way sorting centres complete daily tasks (e.g. payment collection), and
    a chatbot named Ami (in Indonesia) and Giro (in Argentina), that helps drive
    behaviour change at the individual level.
  </p>
  <p class="plainText">
    I have a background in technology, studying Information Systems at UNSW,
    Sydney, and used to have low-medium proficiency in JavaScript (Angular.JS),
    some Java and basic data analysis with SQL. Yet whilst I find development
    work fun and challenging, it's something that I've not been able to find the
    time to invest in, basically since 2017.
  </p>
  <p class="plainText">So this is me, doing something about that.</p>
  <h4>What is this website?</h4>
  <p class="plainText">
    I started this website for one fundamental reason, to re-learn how to code.
    It's scrappy, it doesn't do that much, and isn't changing the face of the
    internet. However, the fact you're reading this on the internet, means I'm
    doing what I set out to do!
  </p>
  <p class="plainText">
    And if you've made it this far, why don't you let me know!
  </p>
  <p class="footnote">
    Small security point: I've tried to use off-the-shelf and robust tools to
    build this website, relying on them for InfoSec. However, it's not
    bullet-proof, so I've also kept PII to a bare minimum in the event of
    something nasty (there's nothing here that isn't on my public LinkedIn). If
    you've got tips, tricks or advice on this topic, I'd love to hear it.
  </p>
</div>
