<div class="contentBoxFirst">
  <h1>What's next for this project you ask?</h1>
  <h4>So this is fundamentally a passion project right...</h4>
  <p class="plainText">
    Which means I'm ALWAYS going to have new skills to learn, and cool features
    I've been mulling over.
  </p>
  <p class="plainText">
    BUT I also like to celebrate the wins, and progress I have made dusting off
    the old cobwebs in my grey matter and putting pen to paper (keys to code in
    this case). So below you'll find the backlog of new stuff, PLUS the list of
    thing's I've already knocked over.
  </p>
  <p class="plainText">
    in case you couldn't tell, I'm fairly proud of, and excited by, both lists.
  </p>
  <p class="footnote">
    For any product nerds out there- the below will feel less like a product
    roadmap and more like a laundry list. Shock horror, that's because it pretty
    much is. Don't fret, I'm working on it.
  </p>
</div>
<div class="contentBox">
  <h4>Thing's I've already done (in order I did them):</h4>
  <ol>
    <li>Relearn basic HTML/CSS and code a local website</li>
    <li>
      Make the website have a simple button using Java, that changes the colour
      theme
    </li>
    <li>
      Refresh on basic object-oriented programming concepts (encapsulation,
      abstraction, inheritance and polymorphism)
    </li>
    <li>
      Learn basic Angular 2+ (using TypeScript) by creating a basic shopping app
      on angular.io/tutorials
    </li>
    <li>
      Be able to spin up a new Angular project, run it locally and version
      control in Github
    </li>
    <li>Make a dynamic side-nav</li>
    <li>Create angular components for each new website element</li>
    <li>Create ordered lists and format them in fun ways</li>
  </ol>
</div>
<div class="contentBox">
  <h4>Backlog of new features (in order I want to do them):</h4>
  <ol class="gradient-list">
    <li>Host this on harrymcguire.com, using Azure Web Apps</li>
    <li>
      Learn what it means to set up a proper CI/CD pipeline using these tools
    </li>
    <li>
      Extend the container here so that it covers all the content, not just the
      screen size
    </li>
    <li>Remove the bloody padding in these two lists here</li>
    <li>Fix the bug that's making my sidebar scrollable sideways</li>
    <li>Make this list visually appealing using Angular elements</li>
    <li>
      Find a way to group this list logicalically, either by "effort",
      "priority" or "feature"
    </li>
    <li>
      Pull this list from the object "whatsNext", even if hardcoded (currently
      it's just hardcoded in my html. Don't @ me)
    </li>
    <li>Pull this list from a database</li>
    <li>Have ability to create new item from front-end</li>
    <li>Eventually, be able to log-in and edit this list</li>
    <li>Build tableau integration</li>
    <li>Write unit tests</li>
    <li>Install Google Analytics</li>
    <li>
      Install devOps monitoring tools, e.g. Sentry, CloudFlare, to learn more
      about true DevOps
    </li>
  </ol>
</div>

