/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html 
.contentBoxFirst {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .contentBox {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
  }

  h1 {
    color: #002b5c; 
    font: bold;
  }
  
  h4 {
    color: #002b5c;
    padding-bottom: 0px;
    padding-top: 0px;
  }


.plainText {
    padding: 0px;
    font-size: 0.3em;
    color: black;
  }

  .footnote {
    padding: 0px;
    font-size: 0.25em;
    color: darkgray;
  }