<div class="contentBoxFirst">
  <h1>Well hello there...</h1>
  <h4>Congratulations, you've made it to my site!</h4>
  <p class="plainText">
    Why don't you check out the content I've built just for you?
  </p>
  <ul>
    <li class="link" routerLink="/about-me" routerLinkActive="active">
      Want to learn more about me on the about page?
    </li>
    <li class="link" routerLink="/whats-next" routerLinkActive="active">Perhaps my product roadmap is more up your alley?</li>
    <li class="link" routerLink="/how" routerLinkActive="active">
      Or better yet, take a leaf out of Guy Raz and check out How I Built This (
      Guy- still waiting on that interview mate... )
    </li>
  </ul>
  <p class="plainText">In the meantime, I'll work on a wittier homepage... (with cooler hyperlinks)</p>
</div>
